*{
    color: white;
}
footer{
    background: #343434;
    padding-top: 50px;
    font-size: 16px;
}
.container{
    width: 1350px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.footer-content{
    width: 33.3%;
}
h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
    color: #55BBCF;
    font-weight: 800;
}
.footer-content p{
    width:190px;
    margin: auto;
    padding: 7px;
    font-weight: 600;
}

.footer-content p span{
    display: block;
    font-weight: 300;
    margin-top: 2px;
}
.footer-content ul{
    text-align: center;
}
.list{
    padding: 0;
}
.list li{
    width: auto;
    text-align: center;
    list-style-type:none;
    padding: 7px;
    position: relative;
}
.list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 1px;
    background: #55BBCF;
    transition-duration: .5s;
}
.list li:hover::before{
    width: 70px;
}
.social-icons{
    text-align: center;
    padding: 0;
}
.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i{
    color: white;
    font-size: 25px;
}
a{
    text-decoration: none;
}
a:hover{
    color: #55BBCF;
    font-weight: 600;
    transition: 0.3s;
}
.social-icons i:hover{
    color: #55BBCF;
}
.bottom-bar{
    background: #0367EB;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
.bottom-bar p{
    color: #fff;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}