@import url('./background.css');
@import url('./header.css');
@import url('./main-index.css');
@import url('./footer.css');
@import url('./artigos.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: black;
  height: 100vh;
}


h2.titulo{
  color: #fff;
  font-size: 50px; 
  text-align: center;
}

h2.titulo span{
  color: #55BBCF;
  font-weight: 900;
}

.interface { 
  max-width: 1350px;
  margin: auto;
}

.flex{
  display: flex;
}

.interface .logo:hover {
  transform: scale(1.1);
  transition: .25s;
}

button:hover {
  cursor: pointer;
}
